<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <!--- Custom CSS --->
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Playfair+Display&display=swap" rel="stylesheet">
    
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
    <div class="grid-container">
        <!-- Header -->
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined"> menu </span>
            </div>

            <div class="header-left">
                <span class="material-icons-outlined"> search </span>
            </div>
            

            <div class="header-right">
                <span class="material-icons-outlined"> notifications </span>
                <span class="material-icons-outlined"> email </span>
                <span class="material-icons-outlined"> account_circle </span>
            </div>
        </header>
        <!-- End Header-->

        <!-- Sidebar -->
        <aside id = "sidebar"></aside>
        <!-- End Sidebar -->

        <!-- Main Container -->
        <main class="main-container"></main>
        <!-- End Main Container -->
        
    </div>    

    <!-- Custom JS -->
    <script src="Scripts/dashborad.js"></script>
</body>
</html>