<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        input[type=text], input[type=password] {
            text-align: center;
        }
    </style>
</head>
<body>
    <form action="/login" method="POST">
        {% if error %}
            <div id="error-message">{{ error }}</div>
        {% endif %}
        <p style="text-align: center;">Enter Username:</p>
        <p style="text-align: center;"><input type="text" name="username" placeholder=" Username"/></p>
        <p style="text-align: center;">Enter Password:</p>
        <p style="text-align: center;"><input type="password" name="password" placeholder="Password"/></p>

        <p style="text-align: center;"><input type="submit" value="Log In" /></p>
    </form>
</body>
</html>
